 
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}

.col{

    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.3333%;
}
.member-item{
    width: 33.3333%;
}
.col-half{
    width: 50%;
    
}

.clear{
    clear: both;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav{
    display: inline-block;
    
}
#nav > li{
    display: inline-block; 
}
#nav li{
     
    position: relative;
}
#nav li:hover .subnav{
    display: block;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
    line-height: 46px;
}
#nav .subnav li:hover ,
#nav >li:hover > a{
    color: #000;
    background-color:#ccc ;
}

#nav .subnav{
    list-style-type: none;
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    
}
#nav .nav-arrow-down{
    font-size: 14px;
}

#nav li a{
    display: inline-block;
    text-decoration:none;
    
    padding: 0 24px;
}
#header .mobie-menu{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

#header .mobie-menu,
#header .search-btn{
    float:right;
    line-height: 46px;
    padding: 0 22px;

}

#header .search-btn:hover{
    background-color: #f44336;
}
#header .mobie-menu:hover{
    background-color: #ccc;
}

#header .menu-icon{
    color: #fff;
    font-size: 20px;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
/*slider*/
#slider{
    width: 100%;
    margin-top: 46px;
    padding-top: 50%;
    
    background-image: url(./img/file1/la.jpg)  ; 
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
/* căn giữa chữ*/
#slider .text-content{
    position: absolute;
    bottom: 32px;
    left: 50%;
    color: #ccc;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-deco{
    margin-top: 12px;
   
}
/*the band*/
#content{
     
}
#content .content-section{
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-style: italic;

}
#content .about-text{
    text-align: justify;
    margin: 15px 5px;
    line-height: 1.4;
}
/* member-list*/
#content .member-list{
    padding: 32px 0;
    text-align: center;
    
}
#content .member-item{
    float: left;
    width: 33.3333%;
    
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/*tour-section*/
.tour-section{
    background-color: #000;
}
.text-white{
    color: white !important;
}
.ticket-list{
    margin-top: 40px;
    background-color: white;
    margin-left: 14px;
    
}
.ticket-list li{
    padding: 12px 14px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}
.sold-out{
    padding: 0 8px;
    margin-left: 16px;
    background-color: #f44336;
    coloticket-listr: white;
    
}
.quanlity{
    float: right;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    padding: 4px 8px;

}
.place-list{
  
   
    margin-top: 32px; 
    margin-left: 5px;
    
}

.place-img{
    width: 100%;
    display: block;
    
}
.place-img:hover{
    opacity: 0.6;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;

}
.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-time{
    margin-top: 15px;        
}
.place-desc{
    margin-top: 15px;   
}
.place-bye{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 8px 8px;
    display: inline-block;
    margin-top: 18px;
}
.place-bye:hover{
    background-color:rgb(182, 179, 179);
    color: #000;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: rgb(252, 252, 252);
    width: 700px;
    max-width: calc(100% -28px);
    min-height: 200px;
    position: relative;
}
.modal-header{
    height: 120px;
    background-color: rgb(8, 97, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ddd;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}
.modal-close:hover{
    color: #fff;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    margin-bottom: 12px;
}
.modal-input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-ticket{
    background-color:rgb(8, 97, 138); 
    width: 100%;
    color: #fff;
    font-size: 15px;
    padding :10px;
    cursor: pointer;
}
#buy-ticket:hover{
    opacity: 0.9;
}
/*contain*/
.col-full{
    width: 100%;
}
/*contant form*/
.contact-content{
        margin-top: 40px;
}
.contact-infor{
    font-size: 18px;
    
}
.contact-infor p i {
    width: 30px;
}
.cotact-form {
    font-size: 15px;
}
.form-control {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    border: 1px solid #ccc
}
.contact-input{

}
.contact-send{
    float: right;
    display: block;
    padding: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    
    margin-top: 10px;
}
.contact-send:hover{
    background-color: #ccc;
    color: #000;
}
/*map and footer*/
.map-section img {
    margin-top: 100px;
    width: 100%;
}
.socials{
    font-size: 24px;
    
}
.socials a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.719);
}
.socials a:hover{
    color: rgba(0, 0, 0, 0.432);
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
.copyright a{
    color: rgba(0, 0, 0, 0.719);
}