/*mobie*/
@media(max-width:700px) {
    
    #nav{
        display:block;
    }
    #nav > li{
        display: block;
    }
    #nav li a{
        padding: 1px 24px ;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position:initial ;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 0 41px;
    }
    #header .mobie-menu{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #header{
        overflow: hidden;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }
    .contact-content{
        margin-left: 5px;
    }
    .s-col-full{
        width: 100%;
    }
    .magt16{
        margin: 0 16px;
    }


}